body {
    margin: 0px;
    padding: 0px;
}

main {
    margin: 0px auto 0px auto;
    max-width: 50em;
}

header {
    padding-bottom: 1em;
    border-bottom: 1px solid black;
}

#submission_received {
    background-color: #e5f0e5;
}
header h1,#title {
    margin-top:0px;
}

article,.post {
    padding: 1em 0px 1em 0px;
    border-bottom: 1px solid #d0d0d0;
}

article img {
    width: 100%;
}

