body {
    margin: 0px;
    padding: 0px;
    background-color: #202020;
    color: #f0f0f0;
}

main {
    margin: 0px auto 0px auto;
    max-width: 50em;
}

header {
    padding-bottom: 1em;
    border-bottom: 1px solid white;
}
textarea {
    background-color: #191919;
    color: #f0f0f0;
    width:100%;
}

#submission_received {
    background-color: #e5f0e5;
}
header h1,#title {
    margin-top:0px;
}

article,.post {
    padding: 1em 0px 1em 0px;
    border-bottom: 1px solid #505050;
}

article img {
    width: 100%;
}

